body {
    background-color: #CCCCCC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #CCCCCC;
    text-align: center;
}

button {
    width: 60%;
    padding: .9rem 1.7rem;
    color: #FFF;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    margin-top: .2rem;
    margin-bottom: .5rem;
    cursor: pointer;
    background-color: #1D0C20;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #621E6E;
}

input {
    margin: auto;
    width: 80%;
    height: 5px;
    padding: .9rem;
    align-self: center;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
    margin-bottom: 1rem;
}

.container {
    background-image: linear-gradient(#200D24, #621E6E);
    margin: auto;
    max-width: 690px;
    width: 100%;
    height: 715px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.header {
    padding: .9rem;
}

.header-title {
    color: #FECD23;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.header-subtitle {
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .9rem;
}

.form {
    background-image: linear-gradient(#621E6E, #200D24);
    height: 78%;
    padding: 2.5rem .6rem 2rem .6rem;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 10px;
}

.form-title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
    text-align: center;
}

.cards {
    background-image: linear-gradient(#3F61EF, #6CBEFC);
    border: 12px solid #2637DA;
    border-radius: .6rem;
    width: 27%;
}

.cards-img {
    width: 80%;
}

.cards-title {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.footer {
    font-size: .6rem;
    color: #FFF;
}

@media screen and (max-width: 620px) {
    html {
        font-size: 14px;
    }

    .flex-container {
        flex-direction: column;
    }

    .container {
        background-image: linear-gradient(#200D24, #621E6E);
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        display: block;
        flex-direction: column;
    }

    .cards {
        width: 100%;
        box-sizing: border-box;
        margin-top: 2rem;
    }
}